@import "tailwindcss";

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --animate-rotate-border: border-rotate 6s linear infinite;

  @keyframes border-rotate {
    from {
      --border-angle: 0deg;
    }

    to {
      --border-angle: 360deg;
    }
  }
}

body {
  cursor: url("/pictures/applecursor.png"), auto;
}

html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: hidden;
}