@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --mesh-gradient-color-1: #3ba000;
  --mesh-gradient-color-2: #000000;
  --mesh-gradient-color-3: #000000;
  --mesh-gradient-color-4: #000000;
}
.apple-font {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "SF Pro Display",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
.apple-mono {
  font-family:
    "SF Mono",
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    monospace;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --animate-rotate-border: border-rotate 6s linear infinite;

  @keyframes border-rotate {
    from {
      --border-angle: 0deg;
    }
    to {
      --border-angle: 360deg;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("/pictures/applecursor.png"), auto;
}
